* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  border-left:  clamp(1px, 100vw, 5px) solid #e8e9e3;
  border-right:  clamp(1px, 100vw, 5px) solid #e8e9e3;
}
a {
  color: inherit;
  text-decoration: none;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }
