.FormGuest {
  width: 100%;
  height: auto;
  padding: clamp(15px, 2vw, 30px);
  background-color: #E8E9E3;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 5px solid #28313A; 
    padding: 60px 0;
    h1 {
      width: 100%;
      font-size: clamp(30px, 6vw, 64px);
      font-weight: 550;
      text-align: center;
    }
    p {
      max-width: 450px;
      width: 100%;
      height: auto;
      font-size: clamp(16px, 3vw, 24px);
      padding: 34px 0;
      font-weight: 300;
      text-align: center;
    }
    form {
      max-width: 460px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 60px;
      padding: 0 20px;
      input {
        width: 100%;
        font-size: 16px;
        border: none;
        border-bottom: 2px solid #28313A;
        padding: 20px 0;
        background: transparent;
        outline: none;
      }
      p {
        font-size: 16px;
        text-align: start;
      }
      .radio {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 10px 0;
        padding: 0 34px;
        gap: 10px;
        input {
          max-width: 20px;
          width: 100% ;
          outline: none;
          border: 2px solid #28313A
        };
        p {
          height: 20px;
          padding: 0;

        }
      }
      button {
        background-color: #28313A;
        width: 160px;
        height: 50px;
        border: 2px solid #28313A;
        border-radius: 20px;
        color: #FFF;
        margin: 20px;
      }
    }
  }
}