.NikhahSection {
  width: 100%;
  height: auto;
  padding: 30px;
  background-color: #E8E9E3;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 5px solid #28313A; 
    h1 {
      max-width: 426px;
      width: 100%;
      height: 85px;

      color: #28313A;
      font-size: 64px;
      font-weight: 550;
      margin: 110px 0;
    }
    p {
      max-width: 400px;
      width: 100%;
      height: 130px;
      width: 100%;
      color: #28313A;
      font-size: 24px;
      font-weight: 350;
      text-align: center;
      margin-bottom: 110px;
    }
    .name {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: 20px;
      .img {
        width: 200px;
        height: 342px;
        &:nth-child(1) {
          transform: scale(-1, 1);
        }
      }
      .we {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        h1{
          color: #28313A;
          margin: 0;
          text-align: center;
         
        }
        p {
          font-size: 60px;
          font-weight: 450;
          height: 55px;
          padding: 0;
          margin: 0;
        }
        .date {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          margin-top:20px ;
          h2 {
            border-top: 2px solid #28313A;
            border-bottom: 2px solid #28313A;
            text-align: center;
            font-size: 32px;
            font-weight: 300;
          }
          .day {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-start;
            padding: 0 10px;
            height: 100px;
            // gap: ;
            border-left: 2px solid #28313A;
            border-right: 2px solid #28313A;
            h3 {
              font-size: 42px;
              font-weight: 300;
              text-align: center;
            }
            p {
              height: auto;
              margin: 0;
              text-align: center;
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}